{% if past|length > 0 %}
  <h1 class="cover-heading">Past Maintenances{% if timezone == 'GMT' %} ({{timezone}}){% endif %}</h1>
    <table class="table">
      <thead>
        <tr>
          <th class="text-center" style="vertical-align: middle;">Start Date</th>
          <th class="text-center" style="vertical-align: middle;">End Date</th>
          <th class="text-center" style="vertical-align: middle;">Customer</th>
          <th class="text-center" style="vertical-align: middle;">Ticket</th>
          <th class="text-center" style="vertical-align: middle;">Vendor/Customer Ticket</th>
          <th class="text-center" style="vertical-align: middle;">Description</th>
        </tr>
      </thead>
        {% for maint in past %}
          <tr>
            <td>{{ maint.startDate|date("D M d, g:i A", timezone) }}</td>
            <td>{{ maint.endDate|date("D M d, g:i A", timezone) }}</td>
            <td>{{ maint.customer }}</td>
            <td>{{ maint.ticket }}</td>
            <td>{{ maint.vendorTicket }}</td>
            <td>
              {{ maint.description }}
              {% if maint.notes|length > 0 %}
              <br><a href="#" data-toggle="popover" data-placement="left" data-html="true" data-animation="true" data-content="{{ maint.notes|nl2br }}" title="Additional Notes"><sub>Notes</sub></a>&nbsp;
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% else %}
      <div class="alert alert-success" role="alert"><h1>No Maintenances within the past {{twigVariables.daysback * 24}} hours.</h1></div>
{% endif %}
    </table>
