{% if upcomming|length > 0 %}
<h1 class="cover-heading">Upcoming Maintenances{% if tv.timezone == 'GMT' %} ({{tv.timezone}}){% endif %}</h1>
  <table class="table">
    <thead>
      <tr>
        <th class="text-center" style="vertical-align: middle;">Start Date</th>
        <th class="text-center" style="vertical-align: middle;">End Date</th>
        <th class="text-center" style="vertical-align: middle;">Customer</th>
        <th class="text-center" style="vertical-align: middle;">Ticket</th>
        <th class="text-center" style="vertical-align: middle;">Vendor/Customer Ticket</th>
        <th class="text-center" style="vertical-align: middle;">Description</th>
      </tr>
    </thead>
  {% for maint in upcomming %}
    {% if date(maint.startDate) <= date() and date(maint.endDate) >= date() %}
      <tr class="danger">
    {% elseif date(maint.startDate) <= "now"|date_modify('+8 hours') %}
      <tr class='warning'>
    {% elseif date(maint.startDate) <= "now"|date_modify('+6 days') %}
      <tr class='info'>
    {% else %}
      <tr>
    {% endif %}
      <td>{{ maint.startDate|date("D g:ia", tv.timezone) }}</td>
      <td>{{ maint.endDate|date("D g:ia", tv.timezone) }}</td>
      <td>{{ maint.customer }}</td>
      <td>{{ maint.ticket }}</td>
      <td>{{ maint.vendorTicket }}</td>
      <td>
        {{ maint.description }}
        {% if maint.notes|length > 0 %}
        <br><a href="#" data-toggle="popover" data-placement="left" data-html="true" data-animation="true" data-content="{{ maint.notes|nl2br }}" title="Additional Notes"><sub>Notes</sub></a>&nbsp;
        {% endif %}
      </td>
    </tr>
  {% endfor %}
{% else %}
  <div class="alert alert-success" role="alert"><h1>No Upcoming Maintenances.</h1></div>
{% endif %}
    </table>
