{% if upcomming|length > 0 %}
  <h1 class="cover-heading">Upcoming Maintenances{% if tv.timezone == 'GMT' %} ({{tv.timezone}}){% endif %}</h1>
    <table class="table">
      <thead>
        <tr>
          <th class="text-center col-md-2" style="vertical-align: middle;">Start Date</th>
          <th class="text-center col-md-2" style="vertical-align: middle;">End Date</th>
          <th class="text-center col-md-3" style="vertical-align: middle;">Customer</th>
          <th class="text-center col-md-2" style="vertical-align: middle;">Ticket</th>
          <th class="text-center col-md-3" style="vertical-align: middle;">Description</th>
        </tr>
      </thead>
        {% for maint in upcomming %}
          {% if date(maint.startDate) <= date() and date(maint.endDate) >= date() %}
            <tr class="danger">
          {% elseif date(maint.startDate) <= "now"|date_modify('+8 hours') %}
            <tr class='warning'>
          {% elseif date(maint.startDate) <= "now"|date_modify('+7 days') %}
            <tr class='info'>
          {% else %}
            <tr>
          {% endif %}
            <td style="font-size: 200%;">{{ maint.startDate|time_diff }}</td>
            <td style="font-size: 200%;">{{ maint.endDate|time_diff }}</td>
            <td style="font-size: 150%;">{{ maint.customer }}</td>
            <td style="font-size: 200%;">{{ maint.ticket }}</td>
            <td style="font-size: 200%;">{{ maint.description }}</td>
          </tr>
        {% endfor %}
{% else %}
  <div class="alert alert-success" role="alert"><h1>No Upcoming Maintenances.</h1></div>
{% endif %}
    </table>
