<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Upcoming Planned Maintenances</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/twitter/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container"  style="width:80%;">
          <div class="span8 offset2">
            <div class="inner">
              <a href="/"><img src="img/title.png" alt=""></a>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Add Maintenance</h1>
            {% if message == 'date' %}
              <div class="alert alert-danger" role="alert">Invalid Date Format, Please use the following format: {{ 'now'|date('Y/m/d H:i') }}</div>
            {% elseif message == 'other' %}
              <div class="alert alert-warning" role="alert">Please be sure, Start Date, End Date, Customer, Internal ticket and Description are filled out, the rest is optional.</div>
            {% elseif message == 'success' %}
              <div class="alert alert-success" role="alert">Success!!<br><a href="{{return}}">Click here</a>, to return to the index.</div>
            {% endif %}
            <form method="post" action="{{ self }}">
              <div class="form-group col-md-4 has-error">
                <label for="startDate">Start Date</label>
                <input type="datetime-local" class="form-control" name="startDate" placeholder="{{ 'now'|date('Y/m/d H:i') }}" data-toggle="tooltip" data-placement="top" data-original-title="Must be in the format YYYY/MM/DD HH:MM (24 Hour), OR Simply use the Google Chrome Date Picker.">
              </div>
              <div class="form-group col-md-4 has-error">
                <label for="endDate">End Date</label>
                <input type="datetime-local" class="form-control" name="endDate" placeholder="{{ 'now'|date_modify("+2 hour")|date('Y/m/d H:i') }}" data-toggle="tooltip" data-placement="top" data-original-title="Must be in the format YYYY/MM/DD HH:MM (24 Hour), OR Simply use the Google Chrome Date Picker.">
              </div>
              <div class="form-group col-md-4 has-error">
                <label>Timezone</label>
                <select class="form-control has-error" name="tz" for="tz" data-toggle="tooltip" data-placement="top" data-original-title="Select the timezone of the event, this is usefull if the customer provides the event details in a timezone other than your own. Otherwise select your own timezone.">
                  {% for key,value in timezones %}
                    <option value="{{key}}"{% if key == tz %} selected="selected"{% endif %}>{{value}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-4 has-error">
                <label for="customer">Customer</label>
                <input type="text" class="form-control" name="customer" placeholder="Acme Corporation">
              </div>
              <div class="form-group col-md-4 has-error">
                <label for="ticket">Internal Ticket</label>
                <input type="text" class="form-control" name="ticket" placeholder="INC000000{{random(200000,500000)}}">
              </div>
              <div class="form-group col-md-4">
                <label for="vendorTicket">Vendor / Customer Ticket</label>
                <input type="text" class="form-control" name="vendorTicket" placeholder="INC000000{{random(200000,500000)}}">
              </div>
              <div class="form-group col-md-12 has-error">
                <label for="description">Description</label>
                <input type="text" class="form-control" name="description" placeholder="" data-toggle="tooltip" data-placement="top" data-original-title="Short (128 characters) description of maintance.">
              </div>
              <div class="form-group col-md-12">
                <label for="notes">Ticket Notes</label>
                <textarea class="form-control" name="notes" rows="9" laceholder="Notes:"></textarea><br>
                <button type="submit" class="btn btn-default" value="submit">Submit</button>
              </div>
            </form>
        </div>
      </div>
    </div>
    <script src="js/bootstrap.min.js"></script>
    <script src="/js/tooltip.js"></script>
  </body>
</html>
