<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Maintenance Details</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container"  style="width:80%;">
          <div class="span8 offset2">
            <div class="inner">
              <img src="img/title.png" alt="">
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Maintenance Details</h1>
            <table class="table">
              <tr>
                <td class="col-md-3">Start Date</td><td class="col-md-9 text-left">{{ maint.startDate|date("l, F j Y h:i A") }}</td>
              </tr>
              <tr>
                <td>End Date</td><td class="text-left">{{ maint.endDate|date("l, F j Y h:i A") }}</td>
              </tr>
              <tr>
                <td>Customer</td><td class="text-left">{{ maint.customer }}</td>
              </tr>
              <tr>
                <td>Internal Ticket</td><td class="text-left">{{ maint.ticket }}</td>
              </tr>
              <tr>
                <td>Vendor / Customer Ticket</td><td class="text-left">{{ maint.vendorTicket }}</td>
              </tr>
              <tr>
                <td>Notes</td><td class="text-left">{{ maint.notes }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
