<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="{{tv.r}}">
    <link rel="icon" href="/favicon.ico">
    <title>Upcoming Planned Maintenances</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/twitter/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">
    <style>.popover {width:500px;max-width: 500px;}</style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
    $.fn.extend({
        popoverClosable: function (options) {
            var defaults = {
                template:
                    '<div class="popover"><div class="arrow"></div><div class="popover-header">\
                    <button type="button" class="close" data-dismiss="popover" aria-hidden="true">&times;</button>\
                    <h3 class="popover-title"></h3></div><div class="popover-content"></div></div>'
            };
            options = $.extend({}, defaults, options);
            var $popover_togglers = this;
            $popover_togglers.popover(options);
            $popover_togglers.on('click', function (e) {
                e.preventDefault();
                $popover_togglers.not(this).popover('hide');
            });
            $('html').on('click', '[data-dismiss="popover"]', function (e) {
                $popover_togglers.popover('hide');
            });
        }
    });

    $(function () {
        $('[data-toggle="popover"]').popoverClosable();
    });
    </script>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container"  style="{% if tv.lt == true %}width:100%;{% else %}width:80%;{% endif %}">
          <div class="span10 offset2">
            <div class="inner">
              <img src="/img/title.png" alt="">
            </div>
          </div>
          <div class="inner cover">
            {% if tv.lt == true %}
              {% include '_upcomingLarge.twig' %}
            {% else %}
              {% include '_upcoming.twig' %}
            {% endif %}
            {% if tv.lt == false %}
              <hr>
              {% include '_past.twig' %}
            {% endif %}
          </div>
        </div>
          <div class="mastfoot">
            <div class="inner">
              <p><a href="/add">Add</a> New event.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/tooltip.js"></script>
    <script src="/js/popover.js"></script>
  </body>
</html>
