<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
</head>
<body>
<h2 id="maintrack">MainTrack</h2>

<p>A simple maintenance tracking application, maintenance events are submitted via add.php. All events that start within 2 weeks will be displaed on the index page.</p>

<p>This code is still very much in BETA form. Please submit any and all bugs found.</p>

<h3 id="installation">Installation</h3>

<p>Import includes/database.sql into your database, Be sure to update the password to something more secure on line 18.</p>

<p>copy includes/dbconnect.sample to includes/dbconnect.php and update the database values to point to your database.</p>

<p>Run composer install on the root of the project to install the dependancies.</p>

<h3 id="timezonesupport">Timezone support</h3>

<p>The application supports multiple timezoens, ANY <a href="http://php.net/manual/en/timezones.php">PHP supported timezone</a> can be passed to the URL by visiting http://example.com/America/Los_Angeles</p>

<p>The add event page generates a list of all Timezones in the Americas and Pacific, This is configurable in includes/functions.php under the generate_timezone_list() function.</p>

<pre><code>static $regions = array(
    DateTimeZone::AMERICA,
    DateTimeZone::PACIFIC,
);
</code></pre>

<p>Please file any bugs at: https://gitlab.com/kaotic/maintrack/issues</p>

</body>
</html>
